@page "/"

<PageTitle>Game</PageTitle>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>
      <th scope="col">price</th>
      <th scope="col">Release Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Elden Ring</td>
      <td>Action</td>
      <td>$64</td>
      <td>2024</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Stray</td>
      <td>RPG</td>
      <td>$69</td>
      <td>2024</td>
    </tr>
    <tr>
      <tr>
      <th scope="row">3</th>
      <td>Halo</td>
      <td>Action</td>
      <td>$79</td>
      <td>2023</td>
    </tr>
    </tr>
  </tbody>
</table>

@code {
    
}